header{
    width: 100%;
    height: 79px;
    padding: 0px 120px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul{
    display: flex;
    gap: 25px;
}


ul li{
   color: white;
   font-weight: bold;
   font-size: 18px;

    cursor: pointer;
}

li p {
    padding-bottom: 8px;
}

li p:hover{
     color: gray;
     transition: 1s;
     border-bottom: 1px solid white;
}
